<meta name="fullscreen" content="true">
 <!-- qq browsers private meta -->
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true">
<meta name="x5-page-mode" content="app">

<style type="text/css" media="all">
#myDiv{
	margin:0;
	padding:0;
	font-size:14px;
	background-color: #FFFFFF;
	/* -webkit-user-select:none; */
	-webkit-text-size-adjust:none;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,"黑体","Helvetica Neue", Helvetica;
}
#header {
	position:absolute;
	top:0; left:0;
	width:100%;
	height:45px;
	line-height:45px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #1B85FF), color-stop(0.05, #1B85FF), color-stop(1, #1B85FF));
	background-image:-moz-linear-gradient(top, #1B85FF, #1B85FF 5%, #1B85FF);
	background-image:-o-linear-gradient(top, #1B85FF, #1B85FF 5%, #1B85FF);
	padding:0;
	color: #FFFFFF;
	font-size:20px;
	text-align:center;
}
input{
	border:0px;width:100%;height:100%;text-align:right;
}
.btnLeft{
	float:left;margin-top:3px;margin-left:15px;font-size:14px;
}
.btnRight{
	float:right;margin-top:3px;margin-right:15px;font-size:14px;
}
.bottombtn{padding:6px;border-radius:.6em;background-color:#1B85FF;text-align:center;color:#FFFFFF;}
</style>
<div class="hbox hbox-auto-xs hbox-auto-sm" id="myDiv" ng-controller="ExpenseBillEntryController">
	<div id="header">
		<div class="btnLeft" ng-click="return()">&lt;返回</div>
		新增费用项目
		<div class="btnRight" ng-click="submit()">提交</div>
	</div>
	<div class="row" style="top:60px;">
		<div class="col-lg-12" style="padding: 0;">
			<form name="form" method="get" ng-model="formData">
				<div class="list-group">
					<li class="list-group-item">
						<span style="float:right;">
							<select style="border:0;height:100%;text-align:right;" id="feeType" ng-model="formData.feeType">
								<option ng-repeat="f in feeType" value="{{f.id}}">{{f.name}}</option>
							</select>
						</span>
						费用项目：
					</li>
					<li class="list-group-item">
						<span style="float:right;"><input type="date" id="startDate"/></span>
						业务日期：
					</li>
					<li class="list-group-item" style="padding-right:2px;">
						<span style="float:right;"><input type="number" ng-model="formData.invoiceAmount"/></span>
						发票金额：
					</li>
					<li class="list-group-item" style="padding-right:2px;">
						<span style="float:right;"><input type="number" ng-model="formData.amount"/></span>
						申请报销金额：
					</li>
					<li class="list-group-item">
						<textarea ng-model="formData.remark" style='width:100%;height:70px;resize:none;overflow-x:hidden;overflow-y:auto;border-radius:.6em;font-size:14px;' placeholder="摘要"></textarea>
					</li>
				</div>
			</form>
		</div>
	</div>

</div>