<meta name="fullscreen" content="true">
 <!-- qq browsers private meta -->
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true">
<meta name="x5-page-mode" content="app">

<style type="text/css" media="all">
#myDiv{
	margin:0;
	padding:0;
	font-size:14px;
	background-color: #FFFFFF;
	/* -webkit-user-select:none; */
	-webkit-text-size-adjust:none;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,"黑体","Helvetica Neue", Helvetica;
	position: absolute;
	bottom:0px;
}
.twoBtn{width:50%;text-align:center;background-color: #dddddd;}
</style>
<div class="hbox hbox-auto-xs hbox-auto-sm" id="myDiv" ng-controller="ExpenseApproveAgreeController">
	<div class="row" style="width:100%;bottom:0px;position: absolute;margin-bottom:2px;">
		<div class="col-lg-12" style="padding: 0;">
			<form name="form" method="get" ng-model="formData">
				<div class="list-group">
					<div style="padding:8px;">
						<div style="margin-bottom:5px;margin-left: 2px;">审批意见：</div>
						<textarea ng-model="formData.remark" style='width:100%;height:240px;resize:none;overflow-x:hidden;overflow-y:auto;border-radius:.6em;font-size:14px;' placeholder="同意"></textarea>
					</div>
					<li class="list-group-item">
						<span style="float:right;"><input ng-click="isEnd()" type="checkbox" style="height:20px;width:20px;margin-top:-3px;"/></span>
						是否审批完成：
					</li>
					<li class="list-group-item" ng-click="showAuditor()">
						<span style="float:right;">
							{{formData.auditorName}}<i style="float:right;margin-right:-6px;">&gt;</i>
						</span>
						下一步处理人：
					</li>
					<div style="clear: both;"></div>
					<div style="width: 100%;">
						<button class="twoBtn" ng-click="submit()" style="float:left;">提交</button>
						<button class="twoBtn" ng-click="cancel()" style="float:left;">取消</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>