<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="shopItemEditController">
  <div class="panel-heading font-bold text-center">
    	修改服务信息
  </div>
  <div class="panel-body">
    <form name="busItemForm" class="form-horizontal form-validation" method="get" ng-model="formData">
    
     <div class="form-group">
	        <label class="col-sm-1 control-label">项目编码<i class="fa fa-asterisk text-danger"></i></label>
	        
	        <div class="col-sm-3">
	        	<div class="input-group">
	    	    		<input type="text" name="itemCode" placeholder="项目编码" id="itemCode" class="form-control" ng-model="formData.itemCode" tabindex="1" required maxlength="10"   ng-pattern="/^[0-9a-zA-z\.]{1,40}$/">
		        	<div  class="input-group-addon" ng-show="!isUnique" style="background:red;"><span ng-bind="notUniqueMessage"></span></div>
	        	</div>
	        	<div pattern-style form-input="busItemForm.itemCode"  input-message="message.itemCode" ></div>
	        </div>
        
	        <label class="col-sm-1 control-label">项目名称<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3">
         		<input name="itemName" type="text" placeholder="项目名称" id="itemName" class="form-control" ng-model="formData.itemName" maxlength="50" ng-maxlength="50"  required >
	           	<div pattern-style form-input="busItemForm.itemName"  input-message="message.itemName" ></div>
	        </div>
        
	        <label class="col-sm-1 control-label">标准价</label>
	        <div class="col-sm-3">
	          	<input class="form-control" value="{{formData.workHours+formData.autoPartsPrice}}" disabled />
	        </div>
        
      </div>
      
      <div class="form-group">
        
	        <label class="col-sm-1 control-label">实际价<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3">
	        	<div ng-if="formData.isActivity == 1">
		          	<input name="actualPrice" type="number" placeholder="实际价" class="form-control" ng-model="formData.actualPrice" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required >
		          	<div pattern-style form-input="busItemForm.actualPrice"  input-message="message.actualPrice" ></div>
	        	</div>
	        	<div ng-if="formData.isActivity == 0">
	        		<input class="form-control" value="{{formData.workHours+formData.autoPartsPrice}}" disabled />
	        	</div>
	        </div>
	        
	        <label class="col-sm-1 control-label">工时费</label>
	        <div class="col-sm-3">
	          	<input name="workHours" type="number" placeholder="工时费" class="form-control" ng-model="formData.workHours" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0">
	         	 <div pattern-style form-input="busItemForm.workHours"  input-message="message.workHours" ></div>
	        </div>
	        
	        <label class="col-sm-1 control-label">配件合计价</label>
	        <div class="col-sm-3">
	          	<input type="number" placeholder="配件合计价" class="form-control" ng-model="formData.autoPartsPrice" disabled>
	        </div>
        
      </div>
      
      <div class="form-group">
       
	        <label class="col-sm-1 control-label">使用状态<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3">
		          <select id="useState" class="form-control" required ng-model="formData.useState">
		          	<!-- 0=初始化、1=待审核、2=发布（审核通过）、3=停止/下架、4=强制下架（违规） -->
			            <option value="0">初始化</option>
			            <option value="1">待审核</option>
			            <option value="2">发布（审核通过）</option>
			            <option value="3">停止/下架</option>
			            <option value="4">强制下架（违规）</option>
		          </select>
	        </div>
        
	        <label class="col-sm-1 control-label">是否参与聚会<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3">
		          <select id="isActivity" class="form-control" required ng-model="formData.isActivity">
		          	<!-- 0=不参加（默认），1=参加 -->
			            <option value="0">不参加</option>
			            <option value="1">参加</option>
		          </select>
	        </div>
	        </div>
      
     <div class="form-group" ng-if="formData.isActivity==1">
     
	        <label class="col-sm-1  control-label" >开始时间<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3 ">
<!-- 	          	<input type="text" style="width: 100%" name="starTime" id="starTime" class="form-control" value="" ng-model="formData.starTimeStr" /> -->
	          	<div date date-model="formData.starTimeStr" ></div>
	      	 </div>
	      	  <label class="col-sm-1  control-label">结束时间<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3 ">
<!-- 	          	<input type="text" style="width: 100%" name="endTime" id="endTime" class="form-control" value="" ng-model="formData.endTimeStr"/> -->
	          	<div date date-model="formData.endTimeStr" ></div>
	      	 </div>
	      	 
      </div>
   
   	<div class="form-group">
   		<label class="col-sm-1 control-lable">显示图片</label>
   		<div class="col-sm-11">
	       		<div upload_one_img url="formData.photoUrl" name="formData.photoUrlName" label="photoUrl"></div>
	       </div>
   	</div>
      
      
      <div class="form-group">
	        <label class="col-sm-1 control-label">服务描述<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-11">
	          	<textarea name="itemDes" class="form-control" rows="2" ng-model="formData.itemDes" required maxlength="500"></textarea>
	          	<div pattern-style form-input="busItemForm.itemDes"  input-message="message.itemDes" ></div>
	        </div>
      </div>
      
      <div class="form-group">
	        <label class="col-sm-1 control-label">使用规则<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-11">
	          	<textarea name="useRule" class="form-control" rows="3" ng-model="formData.useRule"  required maxlength="400"></textarea>
	          	<div pattern-style form-input="busPackageForm.useRule"  input-message="message.useRule" ></div>
	        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-1 control-label">备注</label>
        <div class="col-sm-11">
          	<textarea class="form-control" rows="1" ng-model="formData.memo" ></textarea>
        </div>
      </div>
    
    <!-- 一下为服务子项信息的增加页面 -->
    
   	<div>
   		<div class="line line-dashed b-b line-lg pull-in"></div>
   		<div class="col-sm-offset-4 col-sm-4 font-bold ">
   			<div class="text-center"> 服务子项列表信息</div>
 	 	</div>
 	 	<div class="col-sm-offset-2 col-sm-2">
 	 		<button class="btn btn-success" ng-click="showAddBusAtomForm()">添加服务子项</button>
 	 	</div>
 	</div>
     
   <div>
     
     <table class="table table-striped" id="busAtomTable">
		<thead>
			<th>子项编号</th>
			<th>子项名称</th>
			<th>名称</th>
			<th>品牌</th>
			<th>规格</th>
			<th>型号</th>
			<th>配件单价</th>
			<th>配件数</th>
			<th>是否参与聚惠</th>
			<th>操作</th>
			</tr>
		</thead>
	</table>
   </div>

    </form>
   
   
 	

    

    
  <form name="busAtomForm" class="form-horizontal form-validation none"  novalidate>
  	<div class="line line-dashed b-b line-lg pull-in"></div>
	<div class="row" style="margin-bottom: 20px;">
   		<div class="col-sm-offset-4 col-sm-4 font-bold ">
   			<div class="text-center"> 服务子项详细信息</div>
 	 	</div>
	</div>
  
  	<div class="row">
  		<!-- form表单 -->
  		<div class="col-sm-8">
			<div class="form-group">
        			<label class="col-sm-2 control-label">子项编码<i class="fa fa-asterisk text-danger"></i></label>
       				 <div class="col-sm-4">
	         			 <div class="input-group">
			          		<input type="text" name="atomCode" id="atomCode" placeholder="子项编码" class="form-control" ng-model="formData.atomCode" tabindex="1" required ng-pattern="/^[0-9a-zA-z\.]{1,40}$/">
			          		<div class="input-group-addon" ng-show="!atomCodeIsUnique" style="background:red;"><span ng-bind="notUniqueMessage"></span></div>
	        			</div>
	        			<div pattern-style form-input="busAtomForm.atomCode"  input-message="message.atomCode" ></div>
        			</div>
        			<label class="col-sm-2 control-label">子项名称<i class="fa fa-asterisk text-danger"></i></label>
			        <div class="col-sm-4">
			          	<input name="atomName" type="text" placeholder="子项名称" class="form-control" ng-model="formData.atomName" tabindex="1" maxlength="250" required >
			          	<div pattern-style form-input="busAtomForm.atomName"  input-message="message.atomName" ></div>
			        </div>
     			 </div>
      
      			<div class="form-group" >
      				<label class="col-sm-2 control-label">配件<i class="fa fa-asterisk text-danger"></i></label>
		        	<div class="col-sm-8">
		          		<input id="autoPartAllName" type="text" placeholder="名称+品牌+规格+型号" readonly class="form-control" ng-model="formData.autoPartAllName" required>
		          		<input type="hidden" ng-model="formData.autoPartId" >
		       		 </div>
		        	<div class="col-sm-2">
		          		<button class="w100 btn btn-info" ng-click="choose()" ng-init="formData.chooseAutoPartName='选择';formData.chooseAutoPartButton=false;"><span ng-bind="formData.chooseAutoPartName"></span></button>
		        	</div>
     			 </div>  		
     			 
     			 <div class="form-group">
     			 	<label class="col-sm-2 control-label">配件数<i class="fa fa-asterisk text-danger"></i></label>
			        <div class="col-sm-4">
			         	 <input type="number" name="autoParts" min="0" max="100000" placeholder="配件数" class="form-control" ng-model="formData.autoParts" required ng-pattern="/^[1-9][0-9]{0,8}$/">
				          <div pattern-style form-input="busAtomForm.autoParts"  input-message="message.autoParts" ></div>
			        </div>
        
        			<label class="col-sm-2 control-label">配件单价</label>
			        <div class="col-sm-4">
			          	<input type="number" name="eunitPrice" placeholder="配件单价" class="form-control" ng-model="formData.eunitPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0">
				         <div pattern-style form-input="busAtomForm.eunitPrice"  input-message="message.eunitPrice" ></div>
			        </div>
     			 </div>
  		</div>
  		<!-- 图片 -->
  		<div class="col-sm-4">
  			<div ng-if="!formData.atomPhotoUrl&&!uploading">
	 					<label class="col-sm-2 control-label">图片<i class="fa fa-asterisk text-danger"></i></label>
				        	<div class="col-sm-10">
				       			<input type="file" class="form-control" nv-file-select uploader="uploaderForAtom"  accept="image/*"/>
				     		</div>
 					</div>
			     		<div  class="col-sm-12 loading" style="height: 70px;" ng-if="uploading" >
			                  	<i class="glyphicon glyphicon-repeat"></i><br/>正在上传...
			                </div>
			                <div class="col-sm-12" ng-if="formData.atomPhotoUrl">
					         <div class="thumbnail">
							<img ng-src="{{formData.atomPhotoUrl}}" alt="服务子项图片" style="height: 100px;">
							<div class="caption">
							    	<p class="text-center">
							        	<span class="btn btn-info btn-sm" role="button"  ng-click="API.showImg(formData.atomPhotoUrl)">查看原图</span>
							          	<span class="btn btn-danger btn-sm" role="button"  ng-click="API.deleteImg(formData)">删除</span>
							        </p>
							</div>
					</div>
			  </div>
  		</div>
  	</div>
     
      
     <div class="form-group">
        <label class="col-sm-1 control-label">备注</label>
        <div class="col-sm-11">
          <textarea class="form-control" rows="1" ng-model="formData.busAtomMemo" ></textarea>
        </div>
      </div>
      
      
       <div class="form-group">
	       <div class="col-sm-offset-5 col-sm-4">
        		<button type="button" class="btn btn-success" ng-click="drawTable()" ng-disabled="busAtomForm.$invalid || !atomCodeIsUnique|| uploading">确认</button>
        		<button type="button" class="btn" ng-click="hiddenAddBusAtomForm()" >返回</button>
        	</div>
       	 </div>
      </div>
      
   </form>
    
    
     <!-- 以上为服务新增列表 -->
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group" id="busItemSumbit">
	        <div class="col-sm-offset-4 col-sm-2 col-xs-6">
	<!--           <button type="button" id="add" class="w100 btn btn-success" ng-click="submit()" ng-disabled='form.$invalid || !isUnique'>确定</button> -->
			<div doing button-value="保存" doing-value="保存中..." is-doing="isDoing" doing-method="submit();" form-valid="busItemForm.$valid"></div>
	        </div>
	        <div class="col-sm-2 col-xs-6">
	          	<a ng-click="cancel()" class="w100 btn btn-default">取消</a>
	        </div>
      </div>
    
    
  </div>
  <div class="form-group">&nbsp;</div>
</div>