<style type='text/css'>
.line{height:100%;}
</style>
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="UserEdit">
	  <div class="panel-heading font-bold text-center">
	   	 修改用户
	  </div>
	  <div class="panel-body">
		    <form name="form" class="form-horizontal form-validation" method="get" ng-model="formData" novalidate>
		    
			      <div class="form-group">
			      		<label class="col-sm-1 control-label">名称<i class="fa fa-asterisk text-danger"></i></label>
				        <div class="col-sm-3">
				          	<input type="text" name="name" id="name" placeholder="用户名称" class="form-control" ng-model="formData.name" required>
				          	<div pattern-style form-input="form.name"  input-message="message.name" ></div>
				        </div>
				        <label class="col-sm-1 control-label">账号<i class="fa fa-asterisk text-danger"></i></label>
				        <div class="col-sm-3">
				          	<input type="text" id="number" name="number" placeholder="用户账号" class="form-control" ng-model="formData.number" required>
				          	<div pattern-style form-input="form.number"  input-message="message.number" ></div>
				        </div>
				        
			      </div>
			      
			      <div class="form-group">
			      		<label class="col-sm-1 control-label">密码<i class="fa fa-asterisk text-danger"></i></label>
				        <div class="col-sm-3">
				          	<input type="password" name="password" placeholder="用户密码" class="form-control" ng-model="formData.password" required ng-minlength="6" ng-maxlength="20" ng-pattern="/^[0-9a-zA-Z]*$/" ng-disabled="formData.updatePassWord!=1" >
				          	<div pattern-style form-input="form.password"  input-message="message.password" ></div>
				        </div>
				        <div class="col-sm-4">
	     					<div class="checkbox">
					    		<label>
					      			<input type="checkbox" name="updatePassWord" value="1" ng-model="formData.updatePassWord" > 修改密码--默认为：123456
					    		</label>
				    		 </div>
				        </div>
			      </div>
			      
			      <div class="form-group">
				        <label class="col-sm-1 control-label">所属组织</label>
				        <div class="col-sm-3">
			        		<input readonly type="text" class="form-control" ng-model="formData.orgName">
					</div>
					<label class="col-sm-1 control-label">角色<i class="fa fa-asterisk text-danger"></i></label>
				        <div class="col-sm-3">
			        		<select class="form-control" ng-model="formData.roleId" ng-change="checkNull()" required>
							<option ng-repeat="o in roleList" value="{{o.id}}">{{o.name}}</option>
						</select>
					</div>
			      </div>
			      
		      
			      <div class="form-group">
				        <label class="col-sm-1 control-label">备注</label>
				        <div class="col-sm-11">
				          	<input type="text" placeholder="备注" class="form-control" ng-model="formData.description">
				        </div>
			      </div>
			      
			      <div class="line line-dashed b-b line-lg pull-in"></div>
			      
			      <div class="form-group">
				        <div class="col-sm-offset-4 col-sm-2 col-xs-6">
				          	<div doing button-value="保存" doing-value="保存中..." is-doing="isDoing" doing-method="submit();" form-valid="form.$valid"></div>
				        </div>
				        <div class="col-sm-2 col-xs-6">
				          	<a ng-click="cancel()" class="w100 btn btn-default">取消</a>
				        </div>
			      </div>
			      
		    </form>
	  </div>
</div>