<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">修改密码</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<form name="form" ng-model="formData" class="form-horizontal form-validation" novalidate>

				<div class="form-group">
					<label class="col-sm-offset-3 col-sm-2 control-label">旧密码<i class="fa fa-asterisk text-danger"></i></label>
					<div class="col-sm-4">
						<input name="oldPassWord" type="password" class="form-control" ng-model="formData.oldPassWord" required>
						<div pattern-style form-input="form.oldPassWord"  input-message="message.newPassWord" ></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-offset-3 col-sm-2 control-label">新密码<i class="fa fa-asterisk text-danger"></i></label>
					<div class="col-sm-4">
						<input type="password" name="newPassWord" class="form-control" ng-model="formData.newPassWord" required ng-minlength="6" ng-maxlength="20" ng-pattern="/^[0-9a-zA-Z]*$/" ng-change="change();">
						<div pattern-style form-input="form.newPassWord"  input-message="message.newPassWord" ></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-offset-3 col-sm-2 control-label">重复新密码<i class="fa fa-asterisk text-danger"></i></label>
					<div class="col-sm-4">
						<input name="newSecondPassWord" type="password" class="form-control" ng-model="formData.newSecondPassWord" required ng-minlength="6" ng-maxlength="20" ng-pattern="/^[0-9a-zA-Z]*$/" ng-change="change();">
						<div pattern-style form-input="form.newSecondPassWord"  input-message="message.newPassWord" ></div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer ">
		<div class="text-center">
			<button type="button" class="btn btn-success" ng-click="ok()" ng-disabled="form.$invalid">确定</button>
			<button type="button" class="btn btn-primary" ng-click="cancel()">取消</button>
		</div>
	</div>
</div>
