<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="carownerAddController">
  <div class="panel-heading font-bold text-center">
    添加会员信息
  </div>
  <div class="panel-body">
    <form name="form" class="form-horizontal form-validation " method="get" ng-model="formData" novalidate>
		
		<div class="form-group">
			<label class="col-sm-1 control-label">姓名<i class="fa fa-asterisk text-danger"></i></label>
			<div class="col-sm-3">
				<input name="name" class="form-control" type="text" required ng-model="formData.name" />
				<div pattern-style form-input="form.name"  input-message="message.name" ></div>
			</div>
			<label class="col-sm-1 control-label">简称</label>
			<div class="col-sm-3">
				<input class="form-control" type="text"  ng-model="formData.simpleName" />
			</div>
			<label class="col-sm-1 control-label">手机号<i class="fa fa-asterisk text-danger"></i></label>
			<div class="col-sm-3">
				<input name="cell" class="form-control" type="text" required ng-model="formData.cell" ng-pattern="/^[0-9]{11}$/" />
				<div pattern-style form-input="form.cell"  input-message="message.cell" ></div>
			</div>
		</div>  
		
		<div class="form-group">
			<label class="col-sm-1 control-label">车牌号</label>
			<div class="col-sm-3">
				<input class="form-control" type="text"  ng-model="formData.VIN"  />
			</div>
			<label class="col-sm-1 control-label">审核状态<i class="fa fa-asterisk text-danger"></i></label>
			<div class="col-sm-3">
				<select ng-model="formData.auditState" class="form-control" required>
<!-- 			0=初始（保存）、1=待审核、2=审核通过、3=退回 -->
					<option value="0">初始</option>
					<option value="1">待审核</option>
					<option value="2">审核通过</option>
					<option value="3">退回</option>
				</select>
			</div>
			<label class="col-sm-1 control-label">使用状态<i class="fa fa-asterisk text-danger"></i></label>
			<div class="col-sm-3">
				<select ng-model="formData.useState" class="form-control" required ng-options="u.value as u.name for u in selectData.useState">
<!-- 				1=正常、2=停用、3=注销（黑名单） -->
<!-- 					<option value="1">正常</option> -->
<!-- 					<option value="2">停用</option> -->
<!-- 					<option value="3">注销（黑名单）</option> -->
				</select>
			</div>
		</div> 
		
		<div class="form-group">
			<label class="col-sm-1 control-label">会员等级<i class="fa fa-asterisk text-danger"></i></label>
			<div class="col-sm-3">
				<select ng-model="formData.VIPlevel" class="form-control" required>
			<!-- 0=一般用户、1=普通会员、2=VIP会员、3=白金VI、4=钻石VIP -->
					<option value="0">一般用户</option>
					<option value="1">普通会员</option>
					<option value="2">VIP会员</option>
					<option value="3">白金会员</option>
					<option value="4">钻石VIP</option>
				</select>
			</div>
			<label class="col-sm-1 control-label">积分</label>
			<div class="col-sm-3">
				<input name="integration" class="form-control" type="number"  ng-model="formData.integration" min="0"  />
				<div pattern-style form-input="form.integration"  input-message="message.integration" ></div>
			</div>
			
		</div> 
		
		<div class="form-group">
			<label class="col-sm-1 control-label">身份证号<i class="fa fa-asterisk text-danger"></i></label>
			<div class="col-sm-3">
				<input name="IDCARDNO" class="form-control" type="text" required ng-model="formData.IDCARDNO" ng-pattern="/^[0-9]{16,17}[0-9x]$/"  />
				<div pattern-style form-input="form.IDCARDNO"  input-message="message.IDCARDNO" ></div>
			</div>
			<label class="col-sm-1 control-label">婚姻</label>
			<div class="col-sm-3">
				<select ng-model="formData.merriageState" class="form-control">
<!-- 				0保密，1=未婚，2=已婚，3=再婚，4=离婚，5=丧偶，6其他 -->
					<option value="0">保密</option>
					<option value="1">未婚</option>
					<option value="2">已婚</option>
					<option value="3">再婚</option>
					<option value="4">离婚</option>
					<option value="5">丧偶</option>
					<option value="6">其他</option>
				</select>
			</div>
		 </div> 
		 
		 <div class="form-group"  >
			       <label class="col-sm-1 control-label">身份证相片</label>
			       <div ng-if="formData.IDCARDURL">
				       <div class="col-sm-7">
				 	       <span ng-bind="formData.IDCARDURLName" class="form-control"></span>
				       </div>
				       <div class="col-sm-2">
				 	        <button class="btn btn-success" role="button" ng-click="previewImg('IDCARDURL')">预览</button>
				 	        <button class="btn btn-danger" role="button" ng-click="deleteImg('IDCARDURL')">删除</button>
				       </div>
			       </div>
			      <div ng-if="!formData.IDCARDURL">
				       <div class="col-sm-7">
				 	       <input type="file" uploader="uploader"  nv-file-select="" class="form-control " accept="image/*"  options="{name:'IDCARDURL'}"  />
				       </div>
				       <div class="col-sm-2">
				 	        <button class="btn btn-success" role="button" ng-click="uploadImg('IDCARDURL')"  id="IDCARDURLButton" >上传</button>
				       </div>
			       </div>
       		</div> 	 	
    		
    		<div class="form-group">
			<label class="col-sm-1 control-label">邮箱</label>
			<div class="col-sm-3">
				<input class="form-control" type="text"  ng-model="formData.email"  />
			</div>
			<label class="col-sm-1 control-label">qq</label>
			<div class="col-sm-3">
				<input class="form-control" type="text"  ng-model="formData.qq" />
			</div>
			<label class="col-sm-1 control-label">微信</label>
			<div class="col-sm-3">
				<input class="form-control" type="text"  ng-model="formData.weixin" />
			</div>
		 </div> 
		 
		 <div class="form-group">
			<label class="col-sm-1 control-label">出生日期</label>
			<div class="col-sm-3">
<!-- 				<input id="birthday" class="form-control" type="text"  ng-model="formData.birthdayStr"  /> -->
				<div date date-model="formData.birthday" format="YYYY-MM-DD" single-date-picker="true" date-controller="dateController"></div>
			</div>
			<label class="col-sm-1 control-label">性别</label>
			<div class="col-sm-3">
				<select ng-model="formData.gender" class="form-control">
					<option value="0">男</option>
					<option value="1">女</option>
					<option value="2">保密</option>
				</select>
			</div>
			<label class="col-sm-1 control-label">民族</label>
			<div class="col-sm-3">
				<input class="form-control" type="text"  ng-model="formData.folk" />
			</div>
		 </div>  	
		 
		 <div class="form-group">
		 	<label class="col-sm-1 control-label">详细地址</label>
		 	<div class="col-sm-11">
			 	<textarea ng-model="formData.address" class="form-control" rows="1"></textarea>
		 	</div>
		 </div>
		 
		 <div class="form-group">
		 	<label class="col-sm-1 control-label">备注</label>
		 	<div class="col-sm-11">
			 	<textarea ng-model="formData.memo" class="form-control" rows="1"></textarea>
		 	</div>
		 </div>
		 
    </form>
    
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group" id="busItemSumbit" >
        <div class="col-sm-offset-4 col-sm-2 col-xs-6">
<!--           <button type="button" id="add" class="w100 btn btn-success" ng-click="submit()" ng-disabled='form.$invalid  '>确定</button> -->
          	<div doing button-value="保存" doing-value="保存中..." is-doing="isDoing" doing-method="submit();" form-valid="form.$valid"></div>
        </div>
        <div class="col-sm-2 col-xs-6">
          	<a ng-click="cancel()" class="w100 btn btn-default">取消</a>
        </div>
      </div>
   
  </div>
    <div class="form-group">&nbsp;</div>
   
</div>