    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close"  ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >选择师傅信息</h4>
      </div>
      <div class="modal-body">
      		<div class="container-fluid">
      			<table class="table table-striped" id="workerTable">
				<thead>
					<th>工号</th>
					<th>手机号</th>
					<th>姓名</th>
					<th>简称</th>
					<th>性别</th>
					<th>操作</th>
					</tr>
				</thead>	
			</table>
	        </div>
      </div>
      <div class="modal-footer ">
	      	<div class="text-center">
		        <button type="button" class="btn btn-primary" ng-click="cancel()">取消</button>
	      </div>
      	</div>
    </div>
