<div class="leave hbox hbox-auto-xs hbox-auto-sm"
	ng-controller="carShopController">
	<div class="frame-panel">
		<div class="row">
			<!-- <div class="col-md-4 col-xs-0"></div> -->
			<div class="col-md-3 col-xs-12">
				<h2 class="leave-title text-left txt-center">商铺管理</h2>
			</div>
			
			<div class="col-md-9 col-xs-12"
				ng-init="single=true;only=false;mutiple=true;locked=true">
				<div class="panel-heading pull-right btn-group">
					<button id="clickId" class="none" ng-click="click()"></button>
					<button type="button" class="btn btn-success" ng-click="addUnit()"
						ng-disabled="only">
						<i class="fa fa-fw fa-plus"></i> <span class="hid">添加</span>
					</button>
					<button type="button" class="btn btn-primary" ng-click="editIt()"
						ng-disabled="single">
						<i class="fa fa-fw fa-pencil"></i> <span class="hid">修改</span>
					</button>
					
					<div class="btn-group dropdown" dropdown>
					          <button class="btn btn-default" dropdown-toggle ng-disabled="mutiple"><i class="fa fa-fw icon-lock"></i>状态<span class="caret"></span></button>
						          <ul class="dropdown-menu">
						          		<!-- 1=正常、2=停用、3=注销（黑名单） -->
							            <li><a href ng-click="setUseState(1);">正常</a></li>
							            <li><a href ng-click="setUseState(2);">停用</a></li>
							            <li><a href ng-click="setUseState(3);">注销</a></li>
							            <li><a href ng-click="setUseState(4);">黑名单</a></li>
						          </ul>
					</div>
					
					<button type="button" class="btn btn-primary" ng-click="pushRow()" 
						ng-disabled="single">
						<i class="glyphicon glyphicon-envelope"></i> <span class="hid">推送</span>
					</button>
			
					<button type="button" class="btn btn-danger" ng-click="deleteRow()"
						ng-disabled="mutiple">
						<i class="fa fa-fw fa-minus"></i> <span class="hid">删除</span>
					</button>
					<button type="button" class="btn btn-default"
						ng-click="seeDetails()" ng-disabled="single">
						<i class="fa fa-fw fa-eye"></i> <span class="hid">查看</span>
					</button>
					
				</div>
				
			</div>
		</div>
		<div class="row">
			
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="wrapper-md">
							<div class="" ui-view></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>