<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="carShopEditController">
  <div class="panel-heading font-bold text-center">
    修改商铺信息
  </div>
  
  	<div class="panel-body">
    	<form name="form" class="form-horizontal form-validation" method="post" ng-model="formData" enctype="multipart/form-data" novalidate>
     	 <div class="form-group">
     	 
		    	 <label class="col-sm-1 control-label">公司ID<i class="fa fa-asterisk text-danger"></i></label>
		       <div class="col-sm-2">
		         <input type="text" name="orgName" id="orgName" placeholder="公司ID" class="form-control" ng-model="formData.orgName" readonly required>
		         <input type="hidden"   ng-model="formData.orgId"  required >
		           <!-- 业务类型ztree -->
		         <div org_ztree inputName="orgName" showElement="choseOrg" needClick="true"></div>
		       </div>
		       <div class="col-sm-1">
		         <button type="button" class="btn btn-info" id="choseOrg">选择</button>
		       </div>
     	 
		        <label class="col-sm-1 control-label">店面名称<i class="fa fa-asterisk text-danger"></i></label>
		        <div class="col-sm-3">
		          <input type="text" placeholder="店面全称" class="form-control" ng-model="formData.shopName" tabindex="1" required>
		        </div>
        
		       <label class="col-sm-1 control-label">简称<i class="fa fa-asterisk text-danger"></i></label>
		       <div class="col-sm-3">
		         <input type="text" placeholder="店面简称"  class="form-control" ng-model="formData.simpleName" required>
		       </div>
      </div>
      
         <div class="form-group" >
         
         	<label class="col-sm-1 control-label">店面编号<i class="fa fa-asterisk text-danger"></i></label>
         	<div class="col-sm-2">
         		<input class="form-control"  type="text" ng-model="formData.shopCode" required />
         	</div>
       
	       <label class="col-sm-1 control-label">app显示照片<i class="fa fa-asterisk text-danger"></i></label>
	       <div ng-if="formData.photoUrl">
		       <div class="col-sm-6">
		 	       <span ng-bind-html="formData.photoUrlName | trustHtmlFilter" class="form-control"></span>
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" id="photoUrl" role="button" ng-click="previewImg('photoUrl')">预览</button>
		 	        <button class="btn btn-danger" role="button" ng-click="deleteImg('photoUrl')">删除</button>
		       </div>
	       </div>
	      <div ng-if="!formData.photoUrl">
		       <div class="col-sm-6">
		 	       <input type="file" uploader="uploader"  nv-file-select="" class="form-control " accept="image/*"  options="{name:'photoUrl'}"  />
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" role="button" ng-click="uploadImg('photoUrl')"  id="photoUrlButton" >上传</button>
		       </div>
	       </div>
	       
       </div>
      
      <div class="form-group">
      
	        <label class="col-sm-1 control-label">店面类型<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3">
	          <select id="shopType" class="form-control" required ng-model="formData.shopType" >
	          	<!-- 0=加盟店、1=合作店、3=直营店、4=中心店（区域旗舰店） -->
	            <option value="0">加盟店</option>
	            <option value="1">合作店</option>
	            <option value="3">直营店</option>
	            <option value="4">中心店（区域旗舰店）</option>
	          </select>
	        </div>
        
	        <label class="col-sm-1  control-label">营业证号</label>
	        <div class="col-sm-3 ">
	          <input id="busCard" type="text" placeholder="营业证号" class="form-control" ng-model="formData.busCard">
	      	 </div>
        
      </div>
      
       
       <div class="form-group" ng-init="formData.tempName='sd'" >
       
	       <label class="col-sm-1 control-label">营业执照照片</label>
	       <div ng-if="formData.busCardUrl">
		       <div class="col-sm-7">
		 	       <span ng-bind-html="formData.busCardUrlName | trustHtmlFilter" class="form-control"></span>
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" id="busCardUrl" role="button" ng-click="previewImg('busCardUrl')">预览</button>
		 	        <button class="btn btn-danger" role="button" ng-click="deleteImg('busCardUrl')">删除</button>
		       </div>
	       </div>
	      <div ng-if="!formData.busCardUrl">
		       <div class="col-sm-7">
		 	       <input type="file" uploader="uploader"  nv-file-select="" class="form-control " accept="image/*"  options="{name:'busCardUrl'}"  />
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" role="button" ng-click="uploadImg('busCardUrl')"  id="busCardUrlButton" >上传</button>
		       </div>
	       </div>
	       
       </div>
       
      <div class="form-group">
	        <label class="col-sm-1 col-xs-11 control-label">法人姓名<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3 col-xs-8">
	          	<input id="legalNAME" type="text" placeholder="法人姓名" class="form-control" ng-model="formData.legalNAME" required>
	      	 </div>
      	 
	      	 <label class="col-sm-1 col-xs-11 control-label">法人手机号<i class="fa fa-asterisk text-danger"></i></label>
	        <div class="col-sm-3 col-xs-8">
	          	<input id="legalCELL" type="text" placeholder="法人手机号" class="form-control" ng-model="formData.legalCELL" required />
	      	 </div>
	      	 
	      	  <label class="col-sm-1 col-xs-11 control-label">法人身份证号<i class="fa fa-asterisk text-danger"></i></label>
	     	   <div class="col-sm-3 col-xs-8">
	          	<input id="IDCARDNO" type="text" placeholder="法人身份证号" class="form-control" ng-model="formData.IDCARDNO" required  ng-pattern="/[0-9]{16,17}[0-9x]/"/>
	      	 </div>
      </div>
      
      <div class="form-group" >
       
	       <label class="col-sm-1 control-label">法人身份证相片</label>
	       <div ng-if="formData.IDCARDURL">
		       <div class="col-sm-7">
		 	       <span ng-bind-html="formData.IDCARDURLName | trustHtmlFilter" class="form-control"></span>
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" id="IDCARDURL" role="button" ng-click="previewImg('IDCARDURL')">预览</button>
		 	        <button class="btn btn-danger" role="button" ng-click="deleteImg('IDCARDURL')">删除</button>
		       </div>
	       </div>
	      <div ng-if="!formData.IDCARDURL">
		       <div class="col-sm-7">
		 	       <input type="file" uploader="uploader"  nv-file-select="" class="form-control " accept="image/*"  options="{name:'IDCARDURL'}"  />
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" role="button" ng-click="uploadImg('IDCARDURL')"  id="IDCARDURLButton" >上传</button>
		       </div>
	       </div>
	       
       </div>
      
      
      <div class="form-group">
	        <label class="col-sm-1 col-xs-11 control-label">固定电话</label>
	        <div class="col-sm-3 col-xs-8">
	          	<input id=telephone type="text" placeholder="固定电话" class="form-control" ng-model="formData.telephone"  />
	      	 </div>
      	 
	     	  <label class="col-sm-1 col-xs-11 control-label">注册时间</label>
	       	  <div class="col-sm-3 col-xs-8">
	         <input type="text"  name="registerDate" id="registerDate"
						class="form-control" value="" ng-model="formData.registerDate"/>
	     	 </div>
	     	 
	     	 <label class="col-sm-1 col-xs-11 control-label">企业邮箱</label>
	        <div class="col-sm-3 col-xs-8">
	          	<input id="email" type="email" placeholder="企业邮箱" class="form-control" ng-model="formData.email"   />
	      	 </div>
      	 
      </div>
      
       <div class="form-group">
	        <label class="col-sm-1 col-xs-11 control-label">微信公众号</label>
	        <div class="col-sm-3 col-xs-8">
	          <input id="weixin" type="text" placeholder="微信公众号" class="form-control" ng-model="formData.weixin"   />
	      	 </div>
	      	 
	      	 <label class="col-sm-1 col-xs-11 control-label">qq</label>
	        <div class="col-sm-3 col-xs-8">
	          <input id="qq" type="text" placeholder="qq" class="form-control" ng-model="formData.qq"  />
	      	 </div>
	      	 
	      	  <label class="col-sm-1 col-xs-11 control-label">店面员工数</label>
	        <div class="col-sm-3 col-xs-8">
	         	 <input id="employeeNum" type="number" placeholder="店面员工数" class="form-control" ng-model="formData.employeeNum"  />
	      	 </div>
      </div>
      
        <div class="form-group">
	        <label class="col-sm-1 col-xs-11 control-label">开卡银行</label>
	        <div class="col-sm-3 col-xs-8">
	          <input id="bankName" type="text" placeholder="开卡银行" class="form-control" ng-model="formData.bankName"   />
	      	 </div>
	      	 
	      	 <label class="col-sm-1 col-xs-11 control-label">银行卡号</label>
	        <div class="col-sm-3 col-xs-8">
	          <input id="bankCardNo" type="text" placeholder="银行卡号" class="form-control" ng-model="formData.bankCardNo"   />
	      	 </div>
      </div>
      
        <div class="form-group"  >
	       <label class="col-sm-1 control-label">银行卡相片</label>
	       <div ng-if="formData.bankCardUrl">
		       <div class="col-sm-7">
		 	       <span ng-bind-html="formData.bankCardUrlName | trustHtmlFilter" class="form-control"></span>
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" id="bankCardUrl" role="button" ng-click="previewImg('bankCardUrl')">预览</button>
		 	        <button class="btn btn-danger" role="button" ng-click="deleteImg('bankCardUrl')">删除</button>
		       </div>
	       </div>
	      <div ng-if="!formData.bankCardUrl">
		       <div class="col-sm-7">
		 	       <input type="file" uploader="uploader"  nv-file-select="" class="form-control " accept="image/*"  options="{name:'bankCardUrl'}"  />
		       </div>
		       <div class="col-sm-2">
		 	        <button class="btn btn-success" role="button" ng-click="uploadImg('bankCardUrl')"  id="bankCardUrlButton" >上传</button>
		       </div>
	       </div>
	       
       </div>
      
      
       <div class="form-group">
	        <label class="col-sm-1 col-xs-11 control-label">营业开始时间</label>
	        <div class="col-sm-8 col-xs-11">
		        <table >
		        	<tr>
		        		<td width="50px"><input ui-jq="TouchSpin" type="text" style="width: 50px" value="00"
								class="form-control" data-min='00' data-max="12" id="busStartTimeH"
								data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"
								data-verticaldownclass="fa fa-caret-down"></td>
		        		<td width="2px">:</td>
		        		<td width="50px"><input ui-jq="TouchSpin" type="text" style="width: 50px" value="00"
								class="form-control" data-min='00' data-max="59" id="busStartTimeM"
								data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"
								data-verticaldownclass="fa fa-caret-down"></td>
								
						<td width="120px">&nbsp;&nbsp;&nbsp;&nbsp;营业结束时间</td>
						<td width="50px"><input ui-jq="TouchSpin" type="text" style="width: 50px" value="23"
								class="form-control" data-min='13' data-max="23" id="busEndTimeH"
								data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"
								data-verticaldownclass="fa fa-caret-down"></td>
		        		<td width="2px">:</td>
		        		<td width="50px"><input ui-jq="TouchSpin" type="text" style="width: 50px" value="59"
								class="form-control" data-min='00' data-max="59" id="busEndTimeM"
								data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"
								data-verticaldownclass="fa fa-caret-down"></td>
		        	</tr>
		        </table>
	      </div>
      </div>
     
       <div class="form-group">
        <label class="col-sm-1 col-xs-11 control-label">店面描述</label>
        <div class="col-sm-11 col-xs-8">
          <input id="description" type="text" placeholder="店面描述" class="form-control" ng-model="formData.description"   />
      	 </div>
      </div>
      
          <div class="form-group">
        <label class="col-sm-1 col-xs-11 control-label">擅长品牌</label>
        <div class="col-sm-11 col-xs-8">
          <input itype="text" placeholder="擅长品牌" class="form-control" ng-model="formData.branks"   />
      	 </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 col-xs-11 control-label">技术人员简介</label>
        <div class="col-sm-11 col-xs-8">
          <input type="text" placeholder="技术人员简介" class="form-control" ng-model="formData.workerDes"   />
      	 </div>
      </div>
      
      
       <div class="form-group">
        <label class="col-sm-1 col-xs-11 control-label">详细地址<i class="fa fa-asterisk text-danger"></i></label>
        <div class="col-sm-11 col-xs-8">
          <input id="address" type="text" placeholder="详细地址" class="form-control" ng-model="formData.address" required />
      	 </div>
      </div>
      
       <div class="form-group">
        <label class="col-sm-1 col-xs-11 control-label">备注</label>
        <div class="col-sm-11 col-xs-8">
          <textarea class="form-control"  ng-model="formData.memo"></textarea>
      	 </div>
      </div>
      
   <div class="form-group">
      	    <div city province="formData.province"  city-value="formData.city"  area="formData.area" small-area="formData.smallArea"></div>
      </div>
       
       <div class="form-group">
        <label class="col-sm-1 col-xs-11 control-label">维度</label>
        <div class="col-sm-3 col-xs-8">
          <input id="mapX" type="text" readonly="readonly" placeholder="维度" class="form-control" ng-model="formData.mapX" />
       	</div>
       	<label class="col-sm-1 col-xs-11 control-label">经度</label>
        <div class="col-sm-3 col-xs-8">
          <input id="mapY" type="text" readonly="readonly" placeholder="经度" class="form-control" ng-model="formData.mapY" />
       	</div>
       	<div class="col-sm-2 col-xs-8">
          	<button class="btn btn-info" ng-click="openMapButton()" ng-init="isOpen=false;mapMessage='展开地图'" type="button">{{mapMessage}}</button>
       	</div>
      
      <div class="form-group">&nbsp;</div>
      
     
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2 col-xs-6">
          <button type="button" id="add" class="w100 btn btn-success" ng-click="submit()" ng-disabled='form.$invalid'>确定</button>
        </div>
        <div class="col-sm-2 col-xs-6">
          <a ng-click="return()" class="w100 btn btn-default">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>

