<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="EmployeeEdit">
  <div class="panel-heading font-bold text-center">
    修改
  </div>
  <div class="panel-body" ng-model="formData">
    <form name="form" class="form-horizontal form-validation" method="get" ng-model="formData">
      <div class="form-group">
        <label class="col-sm-3 control-label">编码<i class="fa fa-asterisk text-danger"></i></label>
        <div class="col-sm-8">
          <input type="text" id="number" ng-change="checkNull()" placeholder="员工编码" class="form-control" ng-model="formData.number" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">名称<i class="fa fa-asterisk text-danger"></i></label>
        <div class="col-sm-8">
          <input type="text" id="name" ng-change="checkNull()" placeholder="员工名称" class="form-control" ng-model="formData.name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">性别</label>
        <div class="col-sm-8">
          <select id="gender" class="form-control">
            <option value="1">男</option>
            <option value="2">女</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">所属组织</label>
        <div class="col-sm-8">
        	<input readonly type="text" class="form-control" ng-model="formData.superName">
		</div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-11 control-label">职位</label>
        <div class="col-sm-6 col-xs-8">
          <input id="positionName" readonly type="text" placeholder="选择职位" class="form-control" ng-model="formData.positionName" required>
        </div>
        <div class="col-sm-2 col-xs-4">
          <a id="positionChooseBtn" ng-click="positionChoose()" class="w100 btn btn-info">选择</a>
        </div>
      </div>
      <div class="form-group none" id="positionUnit">
        <div class="col-sm-offset-3 col-sm-8">
          <div ui-view class="fade-in-down smooth">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="wrapper-md">
                  <div class="table-responsive">
                    <table id="positionList" class="table table-striped b-t b-b">
                      <thead>
                        <tr>
                          <th>编码</th>
                          <th>名称</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">电话</label>
        <div class="col-sm-8">
          <input type="text" placeholder="电话" class="form-control" ng-model="formData.cell">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">地址</label>
        <div class="col-sm-8">
          <input type="text" placeholder="地址" class="form-control" ng-model="formData.address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">备注</label>
        <div class="col-sm-8">
          <input type="text" placeholder="备注" class="form-control" ng-model="formData.description">
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2 col-xs-6">
          <button type="submit" id="modify" class="w100 btn btn-success" ng-click="submit()">确定</button>
        </div>
        <div class="col-sm-2 col-xs-6">
          <a ng-click="return()" class="w100 btn btn-default">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>