<div class="leave hbox hbox-auto-xs hbox-auto-sm"
	ng-controller="busTypeController">
	<div class="frame-panel">
		<div class="row">
			<!-- <div class="col-md-4 col-xs-0"></div> -->
			<div class="col-md-3 col-xs-12">
				<h2 class="leave-title text-left txt-center">业务管理</h2>
			</div>
			<div class="col-md-9 col-xs-12"
				ng-init="single=true;only=false;mutiple=true;locked=true">
				<div class="panel-heading pull-right btn-group">
					<button id="clickId" class="none" ng-click="click()"></button>
					
					<div class="btn-group dropdown" dropdown ng-if="btns.ADD">
					          <button class="btn btn-success" dropdown-toggle ng-disabled="!addSign"><i class="fa fa-fw fa-plus"></i>添加业务类型<span class="caret"></span></button>
						          <ul class="dropdown-menu">
						          		<!-- 1=正常、2=停用、3=注销（黑名单） -->
							            <li><a href ng-click="addBrotherBusType();">添加同级业务类型</a></li>
							            <li><a href ng-click="addChildBusType();">添加下级业务类型</a></li>
						          </ul>
					</div>
					
					<button type="button" class="btn btn-primary" ng-click="editBusType()" ng-if="btns.UPDATE"
						ng-disabled="!editSign">
						<i class="fa fa-fw fa-pencil"></i> <span class="hid">修改</span>
					</button>
					<button type="button" class="btn btn-danger" ng-click="deleteBusType()" ng-if="btns.DELETE"
						ng-disabled="!deleteSign">
						<i class="fa fa-fw fa-minus"></i> <span class="hid">删除</span>
					</button>
					

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="wrapper-md">
							<div class="b-a r-2x" ng-init="loading=true">
								<div ng-if="loading" class="loading">
									<i class="glyphicon glyphicon-repeat"></i>
								</div>
								<span ng-if="doing_async">...加载中...</span>
								<abn-tree tree-data="tree_data" tree-control="org_tree"
									on-select="tree_handler(branch)" expand-level="2"
									initial-selection="" icon-leaf="icon-users"
									icon-expand="fa fa-plus" icon-collapse="fa fa-minus">
								</abn-tree>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="wrapper-md">
							<div class="" ui-view></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>